html,
body {
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

.nav {
  z-index: 99;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 576px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav__logo {
  font-weight: white;
  font-size: 40px;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-width: 576px) {
  .nav__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav__links li {
  font-size: 20px;
  margin-bottom: 18px;
}

@media only screen and (min-width: 576px) {
  .nav__links li {
    margin-bottom: 0px;
    margin-left: 20px;
  }
}

.nav__links li:hover {
  cursor: pointer;
  background-color: #a79b9b;
  background: rgba(255, 255, 255, 0.41);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-backdrop-filter: blur(4.8px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 240px 120px;
  background-image: url(./header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__img {
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__text {
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .header__text {
    text-align: left;
  }
}

.header__text2 {
  background-color: white;
  color: black;
  text-align: center;
  line-height: 0.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (min-width: 576px) {
  .header__text2 {
    text-align: left;
  }
}

.header__text3 {
  text-align: center;
  line-height: 1vw;
}

@media only screen and (min-width: 576px) {
  .header__text3 {
    text-align: left;
  }
}

.inicio-click,
.sobre-mi-click,
.curriculum-click,
.trabajos-click,
.contacto-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #1e1e1e;
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sobre-mi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 240px 120px;
  background-image: url(./sobre-mi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sobre-mi__resume {
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}

.sobre-mi__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .sobre-mi__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sobre-mi__experience {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.sobre-mi__video {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.sobre-mi__video div {
  width: 70%;
  height: 400px;
  background-color: aqua;
}

.curriculum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 240px 120px;
  background-image: url(./curriculum.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.curriculum__resume {
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}

.curriculum__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .curriculum__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.curriculum__experience {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  background-color: #1e1e1e;
  opacity: 0.9;
}

.curriculum__video {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.curriculum__video div {
  width: 70%;
  height: 400px;
  background-color: aqua;
}

.experience__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 576px) {
  .experience__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.experience__title {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.experience__title h5 {
  width: 60%;
}

.experience__description {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.trabajos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 240px 120px;
  background-image: url(./background.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trabajos__resume {
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
  background-color: #1e1e1e;
  opacity: 0.5;
}

.trabajos__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .trabajos__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.trabajos__experience {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.trabajos__video {
  width: 100%;
  height: auto;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  background-color: #1e1e1e;
}

div.gallery:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 240px 120px;
  background-image: url(./contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contacto__resume {
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
  background-color: #1e1e1e;
}

.contacto__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .contacto__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacto__experience {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.contacto__video {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.contacto__video div {
  width: 70%;
  height: 400px;
  background-color: aqua;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background-color: #1e1e1e;
  color: white;
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=index.css.map */